html{
    scroll-behavior: smooth;
    scroll-padding: 5rem;
}
body{
    margin: 0;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}
body > *{
    width: 100%;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    position: sticky;
    top: 0;
    border-radius: 0px 0px 15px 15px;
    background-color: #222831;
    color: #EEEEEE;
    margin: -29px -1px;
    opacity: 0.95;
}
li > a{
    text-decoration: none;
    color: #00ADB5;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    
}
ul {
    list-style: none;
    padding-left: 0;
}
li{
    float: left;
    margin: 0px 20px;
}

.top-container{
    text-align: center;
    background-color: #00ADB5;
    color: #222831;
    padding-top: 200px;
    padding-bottom: 100px;
}
.top-text{
    font-size: 75px;
    margin: 0;
}
.middle{
    text-align: center;
}

.profile{
    height: 200px;
    border-radius: 50%;
    margin-top: 150px;
}
.roboto-text{
    font-family: 'Roboto', sans-serif;
}
.libre-text{
    font-family: 'Libre Baskerville', serif;
}
.middle-h2{
    color: #00ADB5;
    font-size: 35px;
    width: fit-content;
    margin-top: 150px;
    margin-bottom: 50px;
}
.middle-p{
    font-size: large;
}
#skills{
    width: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;
    grid-template-rows: auto auto auto;
    grid-template-columns: 70% auto;
}
.skill-field{
    background-color: #A0ACAD70;
    border-radius: 10px;
    color: #046368;
    font-weight: bold;
    font-size: 20px;
}
#education{
    display: flex;
    flex-direction: column;
    align-items: center;
}



@media (max-width: 830px){
    #skills{
        width: 100%;
    }
    .univ-image{
        height: 400px;
    }
}
@media (max-width: 676px){
    .nav{
        font-size: 15px;
    }
    li{
        margin: 0 10px;
    }
    .top-text{
        font-size: 40px;
    }
    .top-secondary-text{
        font-size: 20px;
    }
    .univ-image{
        height: 200px;
    }
    #education > p{
        width: 80%;
    }
}
@media (max-width: 400px){
    li{
        font-size: 10px;
        margin: 0 3px;
    }
    .univ-image{
        height: 150px;
    }
}